@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  html {
    @apply bg-s1
  }
  body {
    @apply font-inter text-p5
  }
  a {
    @apply no-underline;
  }

  img {
    @apply block max-w-full;
  }
}

@layer utilities{
  .g1 {
    background: linear-gradient(#334679, #0c1838);
  }
}

.hide-arrow input[type=number]::-webkit-inner-spin-button, 
.hide-arrow input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    margin: 0 !important; 
}

